@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  input {
    font-size: 13px;
  }
  .blank__ttl {
    font-size: 20px;
  }
  .blank__form {
    padding: 25px;
  }
}
@media screen and (max-width: 425px) {
  .blank .btn {
    min-width: unset;
    width: 100%;
  }
}